#playing-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 40px;
    }

.card {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
}

.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.right {
  align-self: flex-end;
}
